.intro {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  opacity: 1;
  visibility: visible;

  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.intro-hide {
  opacity: 0;
  visibility: hidden;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  animation: introAppear 0.8s ease-out;
}

.splash-image {
  width: 220px;
  height: 220px;

  object-fit: contain;

  animation: splashFloat 2s ease-in-out infinite;
}

.intro p {
  margin-top: 15px;

  font-size: 17px;
  font-weight: 500;

  color: #64748b;
}

.intro-loader {
  width: 180px;
  height: 4px;

  margin-top: 25px;

  background: #e2e8f0;
  border-radius: 10px;

  overflow: hidden;
}

.intro-loader span {
  display: block;

  width: 0;
  height: 100%;

  background: #2563eb;
  border-radius: 10px;

  animation: loading 2.2s ease-in-out forwards;
}

@keyframes introAppear {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes splashFloat {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

@keyframes loading {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
